body {
  background: #fff;
  margin: 0;
  font-family: 'Chicago'; /*remember to actually import the fonts*/
}

.receipt-wrapper {
  width: 648px;
  height: 880px;
  margin: 0 auto;
  /*border: 1px solid #000;*/
  /*margin-top: 50px;*/
}

.header {
  width: 648px;
  margin: 10px auto 0 auto;
  font-size: 22px;
  border-bottom: 7px solid #000;
  text-align: right;
  overflow: auto;
  -webkit-font-smoothing: none !important;
}

.count {
  float: left;
}
.date {
  float: right;
}

.compliment-content {
  width: 648px;
  height: 640px;
  margin: 0 auto;
}
.compliment-text {
  margin-top: 24px;
  font-size: 58px;
  line-height: 64px;
}

.footer {
  width: 648px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  border-top: 3px solid #000;
  padding-top: 8px;
}
.footer p {
  margin-top: .8em;
  margin-bottom: .8em;
}